body {
    font-family: "Poppins", sans-serif;
    background-color:#2b3939;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url("images/Ivano-Fr.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    color: #fcf8f3;
    text-align: center;
    padding: 200px 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.img-responsive {
  max-width: 100%;
}
header h1 {
    font-weight: 600;
    font-size: 96px;
    line-height: 1;
    letter-spacing: 2px;
    margin: 30px 0;
}
header h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
}

header a {
     font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    background: #fcf8f3;
    text-decoration: none;
    color: #2b3939;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    border-radius: 10px;
transition: background-color 0.3s, transform 0.3s;

}



   


header a:hover {
    
    background-color: #2b3939;;
    color: #fcf8f3;
     font-weight: 700;
   
    transform: scale(1.1);
}

footer {
    color: #fcf8f3;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
     url("images/img.png");
     background-repeat: no-repeat ;
     background-size: cover;
    
     
}
main {
    background-color: #fcf8f3;
    padding-right: 20px;
}

main h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: #272044;
    opacity:0.3;
    text-transform: uppercase;
}
main p {
font-size: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin:0;
}
.grid-1 {
    display: grid;
     grid-template-columns: 1fr 1fr;
     padding-top: 30px;
     padding-bottom: 30px;
     justify-self:center;
 
   
}
.img1 {
    padding-top: 25px;
   
}
footer h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
footer p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
    opacity: 0.7;
}
footer li {
    list-style: none;
    margin:0;
    padding:0;

}
footer a {
    color: #fcf8f3;
    opacity:0.7;
}

footer ul {
    padding:0;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    padding:100 0;
}
.grid {
    display: grid;
     grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
 
}

.gallery {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(0.34, 1.12,.68, 1.31);
     min-height: 100vh;
     background:#fbf2d5;
     padding-bottom: 100px;
}
.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:40px;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:coral;
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}
@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }
   header h1 {
        font-size: 45px ;
    }
    header h2 {
        font-size: 20px;
    }
    footer p {
       font-size: 15px; 
    }
    header a {
        font-weight: 500;
       font-size: 25px;
      padding: 12px 24px;
      display: inline-block;
    }
  
}

